@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}

.header_menu{
	
	li{
		list-style:none;
		
		display:block;
		text-align:center;
		color: #333333;
		font-size: 17px;
		&.active{
			border: 1px solid #ffa8a8;
		}
		@include breakpoint(phablet){
			display:inline-block;;
		}
	}
	a{
		text-decoration: none;
	}	
}
.categories{
	background:rgba(255,255,255,.5);
	padding:10px;
	a{
		text-decoration: none;
		color:#333333;
		&:active{
			color: #ff9999;
		}
	}
	ul{
		text-align:center;
		// display:flex;
		// justify-content:space-around;
		// align-items: center;
		// flex-wrap:wrap;
	}
	li{
		margin:0 30px;
		padding-bottom: 28px;
		display:inline-block;
		text-align:center;
		color: #333333;
		border-bottom:5px solid transparent;
	}
	li:active{
		box-sizing:border-box;
		color:#ff9999;
		border-bottom: 5px solid #ff9999;
	}
}
.header{
	height: 50vh;
	background: url("/images/background_maki.png");
	background-size: cover;
	background-repeat:no-repeat;
	border-top: 1px solid #ebebeb;
}

.search-right{
	float: right;
	box-sizing:border-box;
	input[type="search"] {
		background: #ededed url(images/search-icon.png) no-repeat 9px right;
		width: 15px;
		height: 30px;
		color: transparent;	
		cursor: pointer;
		float: right;
		
		&:hover {	
			background-color: #fff;
		}
		&:focus {	
			width:  200px;	
			padding-left: 32px;	
			color: #000;
			background-color: #fff;
			cursor: auto;
			outline: none;
			border: 1px solid #ffa8a8;
		}
	}		
}
//begining nessecary for header_menu js code
@include breakpoint(mobileonly){
	.search-right{
		position: absolute;
		right: 0;
		top: 0;
	}
	.header_menu{
		ul{
			display: none;
			li{
				padding: 10px 10px;
				&:first-child{
					margin-top: 30px;
				}

			}
		}
		img{
			height: 30px;
			width: 30px;
			&:last-child{
				transform: rotate(180deg);
				display: none;
			}
		}
	}
	
	

}
@include breakpoint(phablet){
	.header_menu{
		img{
			display: none;
		}
		li{
			padding: 10px 3px;
			
		}
	}
}
@include breakpoint(tablet){
	.header_menu{
		img{
			display: none;
		}
		li{
			padding: 10px 5px;
			margin-right: 30px;
			
		}
	}
}
