body{
	font-family: 'Open Sans'
}

.header{
	background: url(../images/background_maki.png);
	height: 490px;
	.logo{
        p{
			margin-top: 17px;
			color: #b0b1af;
		}
	}
}

a{
	text-decoration:none;
}