body{
	font-family: 'Open Sans', sans-serif;
	a{
		text-decoration:none;
	}
}
.article{
	a{
		display:block;
	}
	img{
		max-width:100%;
	}
	&_title{
		text-decoration:none;
		display: block;
		margin-top: 10px;
		font-weight:bold;
		font-size:15px;
	}
	.pub-date{
		display:block;
		margin-top: 20px;
		font-style:italic;
		font-size: 13px;
		color: #999999;
	}
	&_pic{
		position: relative;
		img {
			opacity: 1;
			display: block;
			width: 100%;
			height: auto;
			transition: .5s ease;
			backface-visibility: hidden;
		}
		.middle{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 1em;
			color: #fff;
			background: rgba(214,102,107,.8);
			opacity: 0;
			transition: opacity .7s;
			cursor: pointer;
			font: 32px sans-serif;
			letter-spacing: 3px;
		}
		.text {
			position:absolute;
			margin-top:-25px;
			margin-left:-75px;
			top: 50%;
			left: 50%;
			border:1px solid #fff;
			color: #fff;
			font-size: 16px;
			padding: 16px 32px;
		}
	}
	&_pic:hover{
		.middle{
			opacity:1;
		}
		img{
			opacity:0.5;
		}
	}
}