.footer
	.wrapper
		ul
			li
				a(href="#") О магазине
			li
				a(href="#") Почему мы?
			li
				a(href="#") Отзывы
			li
				a(href="#") Скидки
		ul
			li
				a(href="#") Гарантии
			li
				a(href="#") Возврат денежных средств
			li
				a(href="#") Корпоративные букеты и подарки
		ul
			li
				a(href="#") Доставка
			li
				a(href="#") Доставка в праздничные дни
			li
				a(href="#") Спецпредложения к праздникам
.bottom-line
	.wrapper
		.phone-number.pull-right
			i.phone.phone-w
			a(href="83515672146")
				span 8(351)
				span 567 21 46
			i.mail
			a(href="buket@mail.ru") e-mail: buket@mail.ru
		.rights Служба доставки цветов 2016
