.footer
	.wrapper
		ul
			li
				a(href="#") О магазине
			li
				a(href="#") Почему мы?
			li
				a(href="#") Отзывы
			li
				a(href="#") Скидки
		ul
			li
				a(href="#") Гарантии
			li
				a(href="#") Возврат денежных средств
			li
				a(href="#") Корпоративные букеты и подарки
		ul
			li
				a(href="#") Доставка
			li
				a(href="#") Доставка в праздничные дни
			li
				a(href="#") Спецпредложения к праздникам
.bottom-line
	.wrapper
		.pull-right
			a(href="tel:83515672146")
				i.fa.fa-phone
				|  8(351)567 21 46   
			a(href="mailto:buket@mail.ru")
				i.fa.fa-envelope
				|  e-mail: buket@mail.ru
		.rights Служба доставки цветов 2016
