.footer
	.wrapper
		ul
			li
				a(href="#") О магазине
			li
				a(href="#") Почему мы?
			li
				a(href="#") Отзывы
			li
				a(href="#") Скидки
		ul
			li
				a(href="#") Гарантии
			li
				a(href="#") Возврат денежных средств
			li
				a(href="#") Корпоративные букеты и подарки
		ul
			li
				a(href="#") Доставка
			li
				a(href="#") Доставка в праздничные дни
			li
				a(href="#") Спецпредложения к праздникам
.bottom-line
	.wrapper
		.rights
			|Служба доставки цветов 2016
		.contacts.pull-right
			i.phone
			span.p-red 8(351)
			span.p-number 567 21 46
			i.phone
			span e-mail: buket@mail.ru


