.wrapper.clearfix
	.top-line
	.search-top
		form
			input(type="search" placeholder="Что вы ищите?" )
			a#top-search(href="#")
				.btn.btn_search
					i.fa.fa-search
	.bars
		.bar
		.bar
		.bar
	.header_menu
		ul
			li.active
				a(href="#") Доставка
			li
				a(href="#") Оплата
			li
				a(href="#") Гарантии
			li
				a(href="#") Контакты
			li
				a(href="#") Статус заказа
		img.up(src="images/dropdown.png")
.header
	.wrapper
		.row.clearfix
			.col-phablet-1-4
				a(href="/").logo
					img(src="images/logo.png", alt="")
					span.slogan Интернет-магазин цветов
			.col-phablet-1-2
				.contacts
					.contacts-address
						p
							span.bold г. Челябинск,
							| ул. Воровского, 30А 
							a(href="mailto:buket@mail.ru") e-mail: buket@mail.ru
						.phone-number
							a(href="tel:83515672146")
								i.fa.fa-phone
								span 8(351)
								span 567 21 46
			.col-phablet-1-4
				.basket
					a(href="")
						.btn.btn_basket
							i.fa.fa-shopping-cart
							|  Корзина
					span.t-goods
						span.bold 10 товаров
					span на сумму
						span.bold.extent 1000 руб.
	include ./header_categories.pug
