.wrapper
	.row.clearfix
		.col-phablet-3-4
			.header_menu
				img.down(src="/images/dropdown.png")
				ul
					li
						a(href="#") Доставка
					li
						a(href="#") Оплата
					li
						a(href="#") Гарантии
					li
						a(href="#") Контакты
					li
						a(href="#") Статус заказа
				img.up(src="/images/dropdown.png")
		.col-phablet-1-4.search-right
			form
				label
					img(src="/images/search-icon.png")
					input(type="search" placeholder="Искать")
.header
	.wrapper
		.row.clearfix
			.col-phablet-1-4
				.logo
					a(href="/")
						img(src="../images/logo.png", alt="")
					p Интернет-магазин цветов
			.col-phablet-1-2
				.contacts
					.contacts-address
						p
							span.bold г. Челябинск,
							| ул. Воровского, 30А 
							a(href="buket@mail.ru") e-mail: buket@mail.ru
						.number
							i.phone
							a(href="83515672146")
								span.p-red.extent 8(351)
								span.p-number 567 21 46
			.col-phablet-1-4
				.bascet
					a(href="")
						img(src="../images/cat.png", alt="")
					span.ware
						span.bold 10 товаров
					span на сумму
						span.bold.extent 1000 руб.
	include ./header_categories.pug
