.wrapper
	.row.clearfix
		.col-phablet-3-4 
			.header_menu
				img.down(src="/images/dropdown.png")
				ul
					li.active
						a(href="#") Доставка
					li
						a(href="#") Оплата
					li
						a(href="#") Гарантии
					li
						a(href="#") Контакты
					li
						a(href="#") Статус заказа
				img.up(src="/images/dropdown.png")
		.col-phablet-1-4.search-right
			form
				input(type="search" placeholder="Искать")
.header
	.wrapper
		.row.clearfix
			.col-phablet-1-4
				.logo
					img(src="../images/logo.png", alt="")
					p Интернет-магазин цветов
			.col-phablet-1-2 
				.contacts 
					.contacts-main
						p
							span.bold г. Челябинск,
							| ул. Воровского, 30А e-mail: buket@mail.ru
						.number
							i.phone
							span.p-red 8(351)
							span.p-number 567 21 46
			.col-phablet-1-4 
				.bascet
					a(href="")
						img(src="../images/cat.png", alt="")
					p 
						span.bold 10 товаров  
					p на сумму 
						span.bold 1000 руб.
	include ./header_categories.pug
