title Maki Интернет-магазин цветов
meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='css/grid.css')
link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&amp;subset=cyrillic" rel="stylesheet")
link(rel='stylesheet', href='css/header.css')
link(rel='stylesheet',href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script( src="js/jquery-range.js")
link(rel='stylesheet',href='css/jquery-range.css')
script(src="js/lightslider.js")
link(rel='stylesheet', href='css/lightslider.css')
script(src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js")
script(src="js/code.js")
script(src="js/timepicker.js")
link(rel='stylesheet', href='css/timepicker.css')
script(src="js/datepicker.js")
link(rel='stylesheet', href='css/datepicker.css')
script(src="js/datepicker-uk.js")
script(src="js/autocomplete.js")
link(rel='stylesheet', href='css/autocomplete.css')
