-
	var categories=
	[		
		{
			pic: '/images/category_icon_1.png',
			text: 'Букеты',
		},
		{
			pic: '/images/category_icon_2.png',
			text: 'Цветы',
		},
		{
			pic: '/images/category_icon_3.png',
			text: 'Розы',
		},
		{
			pic: '/images/category_icon_4.png',
			text: 'Композиции',
		},
		{
			pic: '/images/category_icon_5.png',
			text: 'Подарки',
		},
		{
			pic: '/images/category_icon_6.png',
			text: 'Свадебные букеты',
		},
	]
.categories
	ul
		each item in categories
			li 
				a(href="#")
					img(src=item.pic)
					br 
					span #{item.text}
