-
	var categories=
	[		
		{
			pic: 'images/category_icon_1.png',
			text: 'Букеты',
		},
		{
			pic: 'images/category_icon_2.png',
			text: 'Цветы',
		},
		{
			pic: 'images/category_icon_3.png',
			text: 'Розы',
		},
		{
			pic: 'images/category_icon_4.png',
			text: 'Композиции',
		},
		{
			pic: 'images/category_icon_5.png',
			text: 'Подарки',
		},
		{
			pic: 'images/category_icon_6.png',
			text: 'Свадебные букеты',
		},
	]
.categories
	.wrapper
		ul
			each item,i in categories
				if i==3
					li.active
						a(href="#")
							img(src=item.pic)
							span #{item.text}
				else
					li
						a(href="#")
							img(src=item.pic)
							span #{item.text}