.wrapper
	.row.clearfix
		.col-phablet-3-4
			.header_menu
				img.down(src="/images/dropdown.png")
				ul
					li.active
						a(href="#") Доставка
					li
						a(href="#") Оплата
					li
						a(href="#") Гарантии
					li
						a(href="#") Контакты
					li
						a(href="#") Статус заказа
				img.up(src="/images/dropdown.png")
		.col-phablet-1-4.search-top
			form
				input(type="search" )
				a#top-search(href="#")
					img(src="../images/search-icon.png")
.header
	.wrapper
		.row.clearfix
			.col-phablet-1-4
				.logo
					a(href="/")
						img(src="../images/logo.png", alt="")
				span.slogan Интернет-магазин цветов
			.col-phablet-1-2
				.contacts
					.contacts-address
						p
							span.bold г. Челябинск,
							| ул. Воровского, 30А 
							a(href="mailto:buket@mail.ru") e-mail: buket@mail.ru
						.phone-number
							a(href="tel:83515672146")
								i.phone
								span 8(351)
								span 567 21 46
			.col-phablet-1-4
				.basket
					a(href="")
						img(src="../images/cat.png", alt="")
					span.t-goods
						span.bold 10 товаров
					span на сумму
						span.bold.extent 1000 руб.
	include ./header_categories.pug
