.news
	|Новости
	a(href="#").pull-right Все новости
	.row.clearfix.ta-center
		.col-phablet-1-2.col-tablet-1-3
			.article
				a(href="#").article__pic
					img(src="images/news_1.png")
					.pic__inner
						.btn.btn_article
							|Читать...
				a(href="#").pub-date
					|01.01.16
				a(href="#").article__title
					|С Новым годом 2016!
		.col-phablet-1-2.col-tablet-1-3
			.article
				a(href="#").article__pic
					img(src="images/news_2.png")
					.pic__inner
						.btn.btn_article
							|Читать...
				a(href="#").pub-date
					|01.01.16
				a(href="#").article__title
					|Как украсить дом к Новому году?
		.col-phablet-1-2.col-tablet-1-3
			.article
				a(href="#").article__pic
					img(src="images/news_3.png")
					.pic__inner
						.btn.btn_article
							|Читать...
				a(href="#").pub-date
					|01.01.16
				a(href="#").article__title
					|Розыгрыш новогоднего подарка