html
	head
		include ./parts/head.pug
		.header_menu
			ul
				li
					a(href="#") Доставка
				li
					a(href="#") Оплата
				li
					a(href="#") Гарантии
				li
					a(href="#") Контакты
				li
					a(href="#") Статус заказа
		.header
			include ./parts/header_categories.pug
	body
		.wrapper
			.row.clearfix
				.col-phablet-3-4 menu
				.col-phablet-1-4 search
			.row.clearfix
				.col-phablet-1-4 logo
				.col-phablet-1-2 contacts
				.col-phablet-1-4 bascet