html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			.row.clearfix
				.col-phablet-3-4
					.row.clearfix.catalog
						include ./parts/catalog.pug
					.paging
						ul
							li
								a(href="#") 1
							li.active
								a(href="#") 2
							li
								a(href="#") 3
							li
								a(href="#") 4
					
				.col-phablet-1-4.filters
					button.btn.btn_filter(type="submit")
						span.icon.icon_parameters
						|  Фильтр
					.filters__parameters
						.filters__title Стоимость
						input(type="hidden" class="range-slider" value="5000")
					.filters__parameters
						.filters__title Букеты с
						ul
							li
								input(type="checkbox" name="s1" id="s1")
								label(for="s1")
									span Розы
							li
								
								input(type="checkbox" name="s1" id="s2")
								label(for="s2") 
									span Орхидея
							li
								
								input(type="checkbox" name="s1" id="s3")
								label(for="s3") 
									span Лилия
							li
								
								input(type="checkbox" name="s1" id="s4")
								label(for="s4")
									span Гербер
					.filters__parameters
						.filters__title Кому
						ul
							li
								
								input(type="checkbox" name="s1" id="s5")
								label(for="s5")
									span Мужчина
							li
								
								input(type="checkbox" name="s1" id="s6")
								label(for="s6")
									span Ребенок
							li
								
								input(type="checkbox" name="s1" id="s7")
								label(for="s7")
									span Женщина
							li
								
								input(type="checkbox" name="s1" id="s8")
								label(for="s8")
									span Семья
					.filters__parameters
						.filters__title
							|Поиск
						.search-right
							form
								input(type="search" )
			.news
				|Новости
				a(href="#").pull-right Все новости
				.row.clearfix.ta-center
					.col-phablet-1-3
						.article
							a(href="#").article__pic
								img(src="/images/news_1.png")
								.pic__inner
									.btn.btn_article
										|Читать...
							a(href="#").article__pub-date
								|01.01.16
							a(href="#").article__title
								|С Новым годом 2016!
					.col-phablet-1-3
						.article
							a(href="#").article__pic
								img(src="/images/news_2.png")
								.pic__inner
									.btn.btn_article
										|Читать...
							a(href="#").article__pub-date
								|01.01.16
							a(href="#").article__title
								|Как украсить дом к Новому году?
					.col-phablet-1-3
						.article
							a(href="#").article__pic
								img(src="/images/news_3.png")
								.pic__inner
									.btn.btn_article
										|Читать...
							a(href="#").article__pub-date
								|01.01.16
							a(href="#").article__title
								|Розыгрыш новогоднего подарка
		include ./parts/footer.pug

