html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper.clearfix
			.col-phablet-1-2
				.catalog-foto
					.catalog-foto__main-foto
						img(src="images/bouquet_1.png")
					.catalog-foto__sub-foto
						img(src="images/bouquet_1.png")
						img(src="images/bouquet_2.png")
						img(src="images/bouquet_3.png")
				.testimonials
					h3 Отзывы покупателей
					.count.pull-right 2 отзива
					.testimonials__box
						.testimonials__data 01.01.2016
						.testimonials__name Михаил Святославович
						.testimonials__rating
						.testimonials__text Канна. Название интересное, цветок тропический. В диком виде в нашей стране она не произрастает, а вот на клумбах наших городов часто можно встретить Канну причём в основном красных оттенков почему то. На самом деле Канна...
					.testimonials__box
						.testimonials__data 01.01.2016
						.testimonials__name Светлана Алексеева
						.testimonials__rating
						.testimonials__text Быстрая доставка. Сервис на уровне. Спасибо большое!!!
				.testimonials
					
			.col-phablet-1-2
				.col-phablet-1-2.col-tablet-1-4
					.counter
						span.btn.btn_counter.minus -
						input(type="text" value="1")
						span.btn.btn_counter.plus +
				.col-phablet-1-2.col-tablet-1-4
					|купити
		.wrapper.clearfix
			//- .col-phablet-1-2
			//- .col-phablet-1-2
			//- 	.col-phablet-1-2.col-tablet-1-4
			//- 		.counter
			//- 			span.btn.btn_counter.minus -
			//- 			input(type="text" value="1")
			//- 			span.btn.btn_counter.plus +
			//- 	.col-phablet-1-2.col-tablet-1-4
			//- 		|купити
			.clients
				.outer
					.inner
						ul#ClientSlider
							li
								.myslide
									a(href="#")
										span.clients_img.client_1
							li
								.myslide
									a(href="#")
										span.clients_img.client_2
							li
								.myslide
									a(href="#")
										span.clients_img.client_3
							li
								.myslide
									a(href="#")
										span.clients_img.client_4
							li
								.myslide
									a(href="#")
										span.clients_img.client_5
							li
								.myslide
									a(href="#")
										span.clients_img.client_6
							li
								.myslide
									a(href="#")
										span.clients_img.client_4
							li
								.myslide
									a(href="#")
										span.clients_img.client_3
							li
								.myslide
									a(href="#")
										span.clients_img.client_1
							li
								.myslide
									a(href="#")
										span.clients_img.client_3
							li
								.myslide
									a(href="#")
										span.clients_img.client_6
			-
				var catalog=
				[		
					{
						pic: 'images/bouquet_1.png',
						name: 'Новогодний подарок',
						price: '2000 руб.'
					},
					{
						pic: 'images/bouquet_2.png',
						name: 'Букет из красных роз, 1000 шт.',
						price: '5589 руб.'
					},
					{
						pic: 'images/bouquet_3.png',
						name: 'Букет из альстромерий и коробка конфет Rafaello',
						price: '1562 руб.'
					},
					{
						pic: 'images/bouquet_4.png',
						name: 'Новогодний подарок',
						price: '2000 руб.'
					},
					{
						pic: 'images/bouquet_5.png',
						name: 'Букет из красных роз, 1000 шт.',
						price: '5589 руб.'
					},
					{
						pic: 'images/bouquet_6.png',
						name: 'Букет из альстромерий и коробка конфет Rafaello',
						price: '1562 руб.'
					},
				]
			.outer
				.inner
					ul#lightSlider
						each item, i in catalog
							li
								.myslide
									.product
										a(href="#").product__pic
											img(src=item.pic)
											if (i==0)
												span.burst-12 Хит
											if (i==1)
												span.circle New
											if (i==2)
												span.rectangle Акция
										.product__name=item.name
										.product__price=item.price
										a(href="#").btn.btn_buy
											|Заказать
		.clearfix
		.wrapper
			include ./parts/news.pug
		include ./parts/footer.pug