html
	head
		include ./parts/head.pug
	body
		.wrapper
			.row.clearfix
				.col-phablet-3-4 menu
				.col-phablet-1-4 search
			.row.clearfix
				.col-phablet-1-4 logo
				.col-phablet-1-2 contacts
				.col-phablet-1-4 bascet