html
	head
		include ./parts/head.pug
	body
		.wrapper
			.row.clearfix
				.col-phablet-3-4 
					.header_menu
						img.down(src="/images/dropdown.png")
						ul
							li.active
								a(href="#") Доставка
							li
								a(href="#") Оплата
							li
								a(href="#") Гарантии
							li
								a(href="#") Контакты
							li
								a(href="#") Статус заказа
						img.up(src="/images/dropdown.png")
				.col-phablet-1-4.search-rigth
					form
						input(type="search" placeholder="Искать")
		.header
			.wrapper
				.row.clearfix
					.col-phablet-1-4 logo
					.col-phablet-1-2 contacts
					.col-phablet-1-4 bascet
			include ./parts/header_categories.pug
		.wrapper
			.row.clearfix
				.col-phablet-3-4 products
					.row.clearfix
						.col-phablet-1-2.col-tablet-1-3 flouwers
						.col-phablet-1-2.col-tablet-1-3 flouwers
						.col-phablet-1-2.col-tablet-1-3 flouwers
						.col-phablet-1-2.col-tablet-1-3 flouwers
						.col-phablet-1-2.col-tablet-1-3 flouwers
						.col-phablet-1-2.col-tablet-1-3 flouwers						
				.col-phablet-1-4 filters
			.row.clearfix
				.col-phablet-1-3 
					.article
						.article_pic
								img(src="/images/news_1.png")
						.pub-date
								|01.01.16
						.article_title
								|С Новым годом 2016!
				.col-phablet-1-3
					.article
						.article_pic
								img(src="/images/news_2.png")
						.pub-date
								|01.01.16
						.article_title
								|Как украсить дом к Новому году?
				.col-phablet-1-3 
					.article
						.article_pic
								img(src="/images/news_3.png")
						.pub-date
								|01.01.16
						.article_title
								|Розыгрыш новогоднего подарка
			.about-us
			.footer