html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			ul.order_page
				li
					.order_page__title
						|Ваш заказ
						table(id="order")
							tr
								th(colspan="2") Наименование
								th Цена
								th Количество
								th Сумма
							tr
								td
									img(src="/images/category_icon_3.png")
								td Нежный букет из роз
								td 2450 руб.
								td
									.order-form__counter
										span.counter-btn.counter-btn_minus
											span
										input(type="text" value="1" class="amount")
										span.counter-btn.counter-btn_plus
											span
								td 2450 руб.
							tr
								td
									img(src="/images/category_icon_1.png")
									
								td Нежный букет из роз
								td 1200 руб.
								td
									.order-form__counter
										span.counter-btn.counter-btn_minus
											span
										input(type="text" value="1" class="amount")
										span.counter-btn.counter-btn_plus
											span
								td 1200 руб.
							tr
								td(colspan="4") Сумма:
								td.order-sum 3600 руб.
										
				li
					.order_page__title Доставка
						.order_page__top-line
					.order_page__order-address
						ul
							li Отправитель:
							li
								input(type='text' value='Имя')
							li
								input(type='text' value='Имя')
						ul
							li Получатель:
							li
								input(type='text' value='Фамилия')
							li
								input(type='text' value='Имя')
							li
								input(type='text' value='Отчество')
							li
								input(type='text' value='Телефон')
						ul
							li Адрес доставки:
							li
								input(type='text' value='г.Челябинск')
							li
								input(type='text' value='ул.Советская, д.62, кв.3')
					div
						input(type="checkbox" name="s1" id="s9")
						label(for="s9")
							span Добавить откритку
						a.btn.brn-free Безсплатно
						textarea.order_page__order-address( name='text')
						input(type="checkbox" name="s1" id="s9")
						label(for="s9")
							span Добавить открытку
						a(href="#").btn.btn_free Бесплатно
						br
						textarea(rows="6" name="text" )
				li
					.order_page__title Оплата:
						.order_page__top-line
							ul
								li
									input(type="radio" name="s1" id="s5")
									label(for="s5")
										span При получение
								li
									input(type="radio" name="s1" id="s6")
									label(for="s6")
										span Онлайн
						.payment-method
							ul
								li
									a(href="#")
										img(src="/images/webmoney.png")
								li
									a(href="#")
										img(src="/images/yandex.png")
								li
									a(href="#")
										img(src="/images/qiwi.png")
								li
									a(href="#")
										img(src="/images/visa_master-card.png")
	
		include ./parts/footer.pug