html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper
			ul.order_page
				li
					.order_page__title
						|Ваш заказ
					.order-table
						table(id="order")
							tr
								th(colspan="2") Наименование
								th Цена ₽
								th Количество
								th Сумма ₽
							tr
								td
									img(src="/images/category_icon_3.png")
								td 
									a(href='product_card.html') Нежный букет из роз
								td 2450 руб.
								td
									.order-form__counter
										span.counter-btn.counter-btn_minus
											span
										input(type="text" value="1" class="amount")
										span.counter-btn.counter-btn_plus
											span
								td 2450 руб.
							tr
								td
									img(src="/images/category_icon_1.png")
								td 
									a(href='#') Нежный букет из роз	
								td 1200 руб.
								td
									.order-form__counter
										span.counter-btn.counter-btn_minus
											span
										input(type="text" value="1" class="amount")
										span.counter-btn.counter-btn_plus
											span
								td 1200 руб.
							tr
								td(colspan="4") Сумма:
								td.order-sum 3600 руб.
				li
					.order_page__title Доставка
					.order__options
						ul
							li
								input(type="radio" name="s2" id="s7")
								label(for="s7")
									span Я получу заказ
							li
								input(type="radio" name="s2" id="s8" checked)
								label(for="s8")
									span Отправить заказ адресату
					.delivery
						.delivery__info
							span Отправитель:
							input(type='text' placeholder='Имя')
							input(type='text' placeholder='Телефон')
						.delivery__info
							span Получатель:
							input(type='text' placeholder='Фамилия')
							input(type='text' placeholder='Имя')
							input(type='text' placeholder='Отчество')
							input(type='text' placeholder='Телефон')
						.delivery__info
							span Адрес доставки:
							.delivery__adress
								input(type='text' id='autocomplete' placeholder='Москва')
								label(for='autocomplete')
									span.icon.icon_adress
							input(type='text' placeholder='ул.Советская, д.62, кв.3' class='street')
						input(type="checkbox" name="s1" id="s9")
						label(for="s9")
							span Добавить открытку
						a.btn.btn-free Бесплатно
						br
						textarea.greeting-card( name='text')
						.delivery__info
							span Дата и время доставки:
							.delivery__date
								input(type='text' id='datepicker')
								label(for='datepicker')
									span.icon.icon_date
							.delivery__time
								input(type='text' id='timepicker')
								label(for='timepicker')
									span.icon.icon_time
							.delivery__details
								span * С 9.00 до 24.00 - 500 руб.
								br
								span Доставка в ночное время - 700 руб.
							.delivery__sum
								span Стоимость доставки составит:
								span 500 руб.
							.total__sum
								span Итого:
								span.sum

				li
					.order_page__title Оплата
					.order__options
						ul
							li
								input(type="radio" name="s1" id="s5")
								label(for="s5")
									span При получение
							li
								input(type="radio" name="s1" id="s6")
								label(for="s6")
									span Онлайн
					.payment-method
						ul
							li
								a(href="#")
									img(src="/images/webmoney.png")
							li
								a(href="#")
									img(src="/images/yandex.png")
							li
								a(href="#")
									img(src="/images/qiwi.png")
							li
								a(href="#")
									img(src="/images/visa_master-card.png")
			a(href='#').btn.btn_pay
					|Сделать заказ
		include ./parts/footer.pug
