html
	head
		include ./parts/head.pug
	body
		include ./parts/header.pug
		.wrapper.clearfix
			.col-phablet-1-2
				.product-img
					.product-img__main-img
						img(src="images/bouquet_1.png")
					.product-img__thumbnails
						img(src="images/bouquet_1.png")
						img(src="images/bouquet_2.png")
						img(src="images/bouquet_3.png")
			.col-phablet-1-2
				.product-card
					.product-card__title Нежный букет из роз
					.order-form
						.order-form__sum
							span(id="order-sum") 2350 руб.
							br
							span Количество
							.order-form__counter
								span.counter-btn.counter-btn_minus
									span
								input(type="text" value="1" id="amount")
								span.counter-btn.counter-btn_plus
									span
						a(href="#").btn.btn_order
								|заказать
						.clearfix
						p При заказе букета вы получите 3% бонусов или 90 рублей. Вы их можете использовать при следующем заказе.
					.block
						.block__title
							|Доставка
						.delivery
							span.icon.icon_delivery
							span С 9.00 до 24.00 - 
							span.bold 500 руб.
						.delivery
							span.icon.icon_night-delivery
							span Доставка в ночное время - 
							span.bold 700 руб.
					.block
						.block__title
							|Описание букета
						p Шикарный букет из 24 крупных роз с легко читаемым подтекстом. В этой композиции 24 алых цветка и всего лишь один бутон белоснежный. Сам букет собран в форме сердца, огромного страстного сердца в котором живет всего одна, единственная, непохожая ни на кого, роза. Букет «Только ты» – отличный выбор для первого признания или предложения руки и сердца. Он так же может стать той самой «оливковой ветвью» мира при ссоре – перед искренностью такого признания не устоит ни одно женское сердце. Роскошный букет алых роз будет отличным подарком и самым романтичным признанием в любви.
			.col-phablet-1-2
				.block
					.block__title.block__title_comment Отзывы покупателей
					.count.pull-right 2 отзыва
					.comment
						.pub-date 01.01.2016
						.comment__author Михаил Святославович
						.comment__rating
						.comment__text Канна. Название интересное, цветок тропический. В диком виде в нашей стране она не произрастает, а вот на клумбах наших городов часто можно встретить Канну причём в основном красных оттенков почему то. На самом деле Канна...
					.comment
						.pub-date 01.01.2016
						.comment__author Светлана Алексеева
						.comment__rating
						.comment__text Быстрая доставка. Сервис на уровне. Спасибо большое!!!
				.comment__form
					form
						.title Написать отзыв:
						.testimonials__rating.pull-right
							input(type="hidden")
							.rating
							.rating-hover
						textarea(rows="5" name="text" )
						input.btn.btn_testimonials(type="submit" value="ОТПРАВИТЬ")
		.wrapper.clearfix
			.block.block_slider
				.block__title.block__title_slider
					|Наши клиенты
				ul#ClientSlider
					li
						a(href="#")
							span.clients_img.client_1
					li
						a(href="#")
							span.clients_img.client_2
					li
						a(href="#")
							span.clients_img.client_3
					li
						a(href="#")
							span.clients_img.client_4
					li
						a(href="#")
							span.clients_img.client_5
					li
						a(href="#")
							span.clients_img.client_6
					li
						a(href="#")
							span.clients_img.client_4
					li
						a(href="#")
							span.clients_img.client_3
					li
						a(href="#")
							span.clients_img.client_1
					li
						a(href="#")
							span.clients_img.client_3
					li
						a(href="#")
							span.clients_img.client_6
			-
				var catalog=
				[		
					{
						pic: 'images/bouquet_1.png',
						name: 'Новогодний подарок',
						price: '2000 руб.'
					},
					{
						pic: 'images/bouquet_2.png',
						name: 'Букет из красных роз, 1000 шт.',
						price: '5589 руб.'
					},
					{
						pic: 'images/bouquet_3.png',
						name: 'Букет из альстромерий и коробка конфет Rafaello',
						price: '1562 руб.'
					},
					{
						pic: 'images/bouquet_4.png',
						name: 'Новогодний подарок',
						price: '2000 руб.'
					},
					{
						pic: 'images/bouquet_5.png',
						name: 'Букет из красных роз, 1000 шт.',
						price: '5589 руб.'
					},
					{
						pic: 'images/bouquet_6.png',
						name: 'Букет из альстромерий и коробка конфет Rafaello',
						price: '1562 руб.'
					},
				]
			.block.block_slider
				.block__title.block__title_slider
					|Вас может заинтересовать
				.outer
					.inner
						ul#lightSlider
							each item, i in catalog
								li
									.myslide
										.product
											a(href="#").product__pic
												img(src=item.pic)
												if (i==0)
													span.burst-12 Хит
												if (i==1)
													span.circle New
												if (i==2)
													span.rectangle Акция
											.product__name=item.name
											.product__price=item.price
											a(href="#").btn.btn_buy
												|Заказать
		.clearfix
		.wrapper
			include ./parts/news.pug
		include ./parts/footer.pug